node_modules/
src/*.js.map
src/*.js
!resources
packages/
*.sou
api/Api.Service.Impl/bin/
api/Api.Repository/obj/
api/Api.Repository/bin/
api/Api.Service.Impl/obj/
api/Api.Repository.Impl/obj/
api/Api.Repository.Impl/bin/
api/Api.Service/bin/
api/Api.Service/obj/
api/Api.Context/obj/
api/Api.Context/bin/
api/API/bin/
api/Api.Common/obj/
api/Api.Common/bin/
*.suo
api/API/obj/
client/npm-debug.log.863437081
