<page>
	<page-header>Users</page-header>
	<page-content>
		<table class="table">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of users">
					<td>{{user.firstName}}</td>
					<td>{{user.lastName}}</td>
					<td>
						<a href="#" onclick="return false;" (click)="onUserClicked(user)">Edit</a>
					</td>
				</tr>
			</tbody>
		</table>

		<!--<user-summary [(firstName)]="selectedUser.firstName" *ngIf="selectedUser"></user-summary>-->
	</page-content>
</page>